img{
    object-fit: contain;
    width: 300px;
    height: 200px;
}

body{
    > div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    > :nth-child(4){
        > meter{
            border-radius: 0;
            height: 30px;
        }
    }
    > :nth-child(5){
        > progress{
            border-radius: 0;
            height: 15px;
            border: 1px solid rgb(25, 25, 25);

            &::-webkit-progress-bar{
                background-color: white;
            }
            &::-webkit-progress-value{
                background-color: rgb(0, 180, 255);
            }
        }
    }
    > ul{
        > li{
            list-style: circle;
        }
    }
    > :nth-child(15){
        color: rgb(160, 0, 180);
    }
}